<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JJ.Framework.Build" version="2.6.3239" targetFramework="net48" />
  <package id="JJ.Framework.Common.Legacy" version="0.250.3239" targetFramework="net48" />
  <package id="JJ.Framework.IO" version="0.250.3226" targetFramework="net48" />
  <package id="JJ.Framework.PlatformCompatibility.Legacy" version="0.250.3239" targetFramework="net48" />
  <package id="JJ.Framework.Reflection.Legacy" version="0.250.3239" targetFramework="net48" />
</packages>