<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JJ.Framework.Build" version="2.7.3926" targetFramework="net48" />
  <package id="JJ.Framework.Common.Legacy" version="0.250.3926" targetFramework="net48" />
  <package id="JJ.Framework.IO.Legacy" version="0.250.3926" targetFramework="net48" />
  <package id="JJ.Framework.PlatformCompatibility.Legacy" version="0.250.3926" targetFramework="net48" />
  <package id="JJ.Framework.Reflection.Legacy" version="0.250.3926" targetFramework="net48" />
</packages>