<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JJ.Framework.Build" version="2.9.4408" targetFramework="net48" />
  <package id="JJ.Framework.Common.Legacy" version="0.250.4408" targetFramework="net48" />
  <package id="JJ.Framework.IO.Legacy" version="0.250.4407" targetFramework="net48" />
  <package id="JJ.Framework.PlatformCompatibility.Legacy" version="0.250.4408" targetFramework="net48" />
  <package id="JJ.Framework.Reflection.Legacy" version="0.250.4408" targetFramework="net48" />
</packages>