<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="jj.framework.configuration.tests" type="JJ.Framework.Configuration.ConfigurationSectionHandler, JJ.Framework.Configuration" />
  </configSections>

  <jj.framework.configuration.tests
    contextType="JJ.Framework.Persistence.NHibernate"
    location="Data Source=.\SQLEXPRESS;Initial Catalog=QuestionAndAnswerDB_DEV;User ID=development;Password=development;Persist Security Info=True">
    <modelAssemblies>
      <modelAssembly>JJ.Models.QuestionAndAnswer.Persistence</modelAssembly>
      <modelAssembly>JJ.Models.QuestionAndAnswer.Persistence.NHibernate</modelAssembly>
    </modelAssemblies>
    <subConfiguration>
      <someProperty>100</someProperty>
    </subConfiguration>
  </jj.framework.configuration.tests>
</configuration>