<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Product Id="*" Name="JJ Utilities - File Deduplication" Language="1033" Version="1.6.0" Manufacturer="Jan Joost van Zon" UpgradeCode="cf948a2e-070e-4385-8866-b78ff03bfc1d">

    <Package Id="*" InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="CompleteFeature" Level="1">
			<ComponentGroupRef Id="ComponentGroup" />
		</Feature>

    <Icon Id="JJ.Utilities.FileDeduplication.exe" SourceFile="JJ.Utilities.FileDeduplication.exe" />
	</Product>

  <!-- TODO: Tutorial seemed to suggest no Fragments were needed and things might be put directly in the Product tag. (https://www.firegiant.com/wix/tutorial/getting-started/the-files-inside/) -->

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">

      <Directory Id="ProgramFilesFolder">
				<Directory Id='ProgramFilesJJVanZonFolder' Name='JJ van Zon'>
          <Directory Id="INSTALLFOLDER" Name="JJ Utilities - File Deduplication" />
				</Directory>
			</Directory>

      <Directory Id="ProgramMenuFolder" Name="Programs"/>
      <Directory Id="DesktopFolder" Name="Desktop" />
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ComponentGroup" Directory="INSTALLFOLDER">

      <!-- TODO: Should each File be wrapped into its own Component? -->
      <Component Id="Component" Guid="D70ECB1D-FF45-4BDE-BC2A-C0C6CEF6C7F4">

        <File Id="JJ.Utilities.FileDeduplication.exe" Source="JJ.Utilities.FileDeduplication.exe" KeyPath="yes">

          <Shortcut Id="StartMenuShortcut" Directory="ProgramMenuFolder" Name="JJ Utilities - File Deduplication" Icon="JJ.Utilities.FileDeduplication.exe" IconIndex="0" Advertise="yes" />

          <Shortcut Id="DesktopShortcut" Directory="DesktopFolder" Name="JJ Utilities - File Deduplication" Icon="JJ.Utilities.FileDeduplication.exe" IconIndex="0" Advertise="yes" />
        </File>

        <File Id="JJ.Utilities.FileDeduplication.exe.config" Source="JJ.Utilities.FileDeduplication.exe.config" />

        <File Id="JJ.Framework.Business.dll" Source="JJ.Framework.Business.dll" />
        <File Id="JJ.Framework.Collections.dll" Source="JJ.Framework.Collections.dll" />
        <File Id="JJ.Framework.Common.dll" Source="JJ.Framework.Common.dll" />
        <File Id="JJ.Framework.Configuration.dll" Source="JJ.Framework.Configuration.dll" />
        <File Id="JJ.Framework.Conversion.dll" Source="JJ.Framework.Conversion.dll" />
        <File Id="JJ.Framework.Drawing.dll" Source="JJ.Framework.Drawing.dll" />
        <File Id="JJ.Framework.Exceptions.dll" Source="JJ.Framework.Exceptions.dll" />
        <File Id="JJ.Framework.IO.dll" Source="JJ.Framework.IO.dll" />
        <File Id="JJ.Framework.Logging.dll" Source="JJ.Framework.Logging.dll" />
        <File Id="JJ.Framework.Mathematics.dll" Source="JJ.Framework.Mathematics.dll" />
        <File Id="JJ.Framework.Microsoft.VisualBasic.dll" Source="JJ.Framework.Microsoft.VisualBasic.dll" />
        <File Id="JJ.Framework.PlatformCompatibility.dll" Source="JJ.Framework.PlatformCompatibility.dll" />
        <File Id="JJ.Framework.Presentation.dll" Source="JJ.Framework.Presentation.dll" />
        <File Id="JJ.Framework.Reflection.dll" Source="JJ.Framework.Reflection.dll" />
        <File Id="JJ.Framework.Text.dll" Source="JJ.Framework.Text.dll" />
        <File Id="JJ.Framework.VectorGraphics.dll" Source="JJ.Framework.VectorGraphics.dll" />
        <File Id="JJ.Framework.WinForms.dll" Source="JJ.Framework.WinForms.dll" />
        <File Id="JJ.Framework.Xml.dll" Source="JJ.Framework.Xml.dll" />
        <File Id="System.ValueTuple.dll" Source="System.ValueTuple.dll" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
