.vs
bin
obj
*.csproj.vspscc
*.user
packages
!Archive/**
TestResults
*.cache
**/Debug/**
**/Release/**
UpgradeLog.htm

# NCrunch
*.ncrunchsolution
*.ncrunchproject
nCrunchTemp*.*
.NCrunch*
NCrunch*.xml
