<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JJ.Framework.Build" version="3.4.4554" targetFramework="net48" />
  <package id="JJ.Framework.Common.Legacy" version="0.250.4554" targetFramework="net48" />
  <package id="JJ.Framework.PlatformCompatibility.Legacy" version="0.250.4554" targetFramework="net48" />
  <package id="JJ.Framework.Reflection.Legacy" version="0.250.4554" targetFramework="net48" />
</packages>