<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="jj.framework.security" type="JJ.Framework.Configuration.Legacy.ConfigurationSectionHandler, JJ.Framework.Configuration.Legacy"/>
  </configSections>

  <jj.framework.security>
    <authentication authenticationType="HashedSaltedPasswordSHA256" />
  </jj.framework.security>
</configuration>
