<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="5.0.0" targetFramework="net45" />
  <package id="JetBrains.Annotations" version="2018.2.1" targetFramework="net48" />
  <package id="JJ.Framework.Build" version="2.6.3226" targetFramework="net48" />
  <package id="JJ.Framework.Collections" version="1.7.7817.43032" targetFramework="net48" />
  <package id="JJ.Framework.Common.Legacy" version="0.250.3226" targetFramework="net48" />
  <package id="JJ.Framework.Exceptions" version="1.7.7817.43032" targetFramework="net48" />
  <package id="JJ.Framework.Logging" version="0.250.3226" targetFramework="net48" />
  <package id="JJ.Framework.PlatformCompatibility.Legacy" version="0.250.3226" targetFramework="net48" />
  <package id="JJ.Framework.Reflection.Legacy" version="0.250.3226" targetFramework="net48" />
  <package id="JJ.Framework.Testing.Legacy" version="0.250.3226" targetFramework="net48" />
  <package id="JJ.Framework.Text" version="1.7.7817.43031" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>