<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="jj.demos.configuration" type="JJ.Framework.Configuration.ConfigurationSectionHandler, JJ.Framework.Configuration"/>
  </configSections>

  <appSettings>
    <add key="MySetting" value="20"/>
  </appSettings>

  <jj.demos.configuration>
    <items>
      <item value="1" />
      <item value="2" >
        <child value="3" />
      </item>
    </items>
  </jj.demos.configuration>
</configuration>