<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JJ.Framework.Build" version="2.2.2208" targetFramework="net48" />
  <package id="JJ.Framework.Common" version="0.250.2208" targetFramework="net48" />
  <package id="JJ.Framework.PlatformCompatibility" version="0.250.2208" targetFramework="net48" />
  <package id="JJ.Framework.Reflection" version="0.250.2208" targetFramework="net48" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net48" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="net48" />
</packages>