<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="DefaultFolderPath" value="D:\Temp\JJ.Utilities.FileDeduplication Test Data" />
    <add key="FixedCultureName" value="nl-NL" />
  </appSettings>
  <runtime>
    <!-- This would help UnhandledExceptionMessageBoxShower 
    prevent undhandled exceptions on non-IU thread from halting the application. -->
    <legacyUnhandledExceptionPolicy enabled="1" />
  </runtime>
</configuration>