<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JJ.Framework.Build" version="3.7.4826" targetFramework="net48" />
  <package id="JJ.Framework.Common.Legacy" version="0.250.4826" targetFramework="net48" />
  <package id="JJ.Framework.IO.Legacy" version="0.250.4826" targetFramework="net48" />
  <package id="JJ.Framework.Mathematics.Legacy" version="0.250.4826" targetFramework="net48" />
  <package id="JJ.Framework.PlatformCompatibility.Legacy" version="0.250.4826" targetFramework="net48" />
  <package id="JJ.Framework.Reflection.Legacy" version="0.250.4826" targetFramework="net48" />
  <package id="JJ.Framework.Testing.Legacy" version="0.250.4826" targetFramework="net48" />
  <package id="JJ.Framework.Xml.Linq.Legacy" version="0.250.4826" targetFramework="net48" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net48" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="net48" />
</packages>