<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="jj.framework.configuration.core.tests" type="JJ.Framework.Configuration.Legacy.ConfigurationSectionHandler, JJ.Framework.Configuration.Legacy"/>
  </configSections>

  <appSettings>
    <add key="SourceFileName" value="app.config" />
  </appSettings>

  <jj.framework.configuration.core.tests 
    intValue="42" 
    stringValue="hello"/>
</configuration>
