<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JetBrains.Annotations" version="2018.2.1" targetFramework="net461" />
  <package id="JJ.Framework.Collections" version="1.4.6870.36368" targetFramework="net461" />
  <package id="JJ.Framework.Common" version="1.4.6862.40439" targetFramework="net461" />
  <package id="JJ.Framework.Configuration" version="1.4.6869.42744" targetFramework="net461" />
  <package id="JJ.Framework.Conversion" version="1.4.6862.40448" targetFramework="net461" />
  <package id="JJ.Framework.Exceptions" version="1.4.6873.32508" targetFramework="net461" />
  <package id="JJ.Framework.IO" version="1.4.6870.34059" targetFramework="net461" />
  <package id="JJ.Framework.Mathematics" version="1.4.6873.32669" targetFramework="net461" />
  <package id="JJ.Framework.PlatformCompatibility" version="1.4.6862.40437" targetFramework="net461" />
  <package id="JJ.Framework.Reflection" version="1.4.6874.33783" targetFramework="net461" />
  <package id="JJ.Framework.Testing" version="1.4.6862.40450" targetFramework="net461" />
  <package id="JJ.Framework.Text" version="1.4.6869.43189" targetFramework="net461" />
  <package id="JJ.Framework.Xml" version="1.4.6869.42104" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net45" />
</packages>